/* Dropdown Button */
.btn-drop {
    color: #FFFFFF;
    font-size: 100%;
    border: none;
    cursor: pointer;
}
.c-header__listmenu {
    padding-left: 84px;
}
.btn-drop::after {
    content: "";
    display: inline-block;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #FFFFFF;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    top: 25px;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
    color: #000000;
    padding: 12px 16px;
    text-decoration: none;
    display: flex !important;
    align-items: center;
    font-size: 100%;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}
/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display:block;
}
.logo_language {
    width: 23px;
    height: 17.25px;
    margin-right: 5px;
}
.drop-detail {
    color:#666;
    font-size: 100%;
}
.error-contact{
    margin-left: 10px;
    color: red;
}
.swiper-banner-home {
    height: 100vh;
    overflow: hidden;
}
.c-benefit__cards__body .price {
    font-size: 1.4rem;
}
.c-section-gallery-detail .gallery-top {
    height: 70vh;
}
.swiper-slide img {
    height: 100%;
}
.list-gallery li a {
    height: 100%;
}
.list-gallery li a img{
    height: 100%;
}
.box-gallery img{
    height: 380px;
}
.swiper-slide img{
    height: auto;
    width: 100%;
}
.other-banner {
    height: auto !important;
}
.c-image-text .c-image-text__content p {
    text-align: justify;
}
.box-container-detail .box-content-detail p {
    text-align: justify;
}
@media only screen and (max-width: 600px) {
    .btn-drop {
        color: #000000;
    }
    .dropdown-content{
        right: 0;
    }
    .swiper-banner {
        height: 30vh;
    }
}
@media only screen and (max-width: 768px) {
    .swiper-banner {
        height: 50vh;
    }
    .box-gallery img {
        width: 260px;
    }
}
@media only screen and (max-width: 425px) {
    .swiper-banner {
        height: 30vh;
    }
    .c-image-text.c-image-text--direction .c-image-text__image {
        margin-right: 0;
    }
    .box-gallery img {
        width: 180px;
    }
    .c-section-gallery-detail .gallery-top img {
        transform: translateY(-50%);
        position: absolute;
        top: 50%;
        left: 0;
    }
    .img-album-all{
        height: 350px;
    }
}
.info-notification .box-card-notification .box-img {
    width: 20%;
}
.box-from .box-from-cotent textarea {
    font-size: 20px;
}
.box-from .box-from-cotent-date {
    font-size: 20px;
}
.icon {
    /* height: 200px !important; */
    width: 50px;
}
.icon img {
    height: auto;
    width: 100%;
}
.box-info-card {
    width: -webkit-fill-available;
}
.section-benifit {
    padding-top: 760px;
}
.c-benefit__tab a {
    text-decoration: none;
}
.h3-text {
    font-size: .9375rem;
    font-family: 'UTMNeutra';
    color: #2c2c2c;
    line-height: 1.4375rem;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
}
.headding-page {
    font-size: 2.1875rem;
    font-family: 'UTMNeutra';
    color: #2c2c2c;
    line-height: 3.125rem;
}

.mt-20 {
    font-size: .9375rem;
    color: #4a4a4a;
    line-height: 1.5625rem;
}

.more {
    text-transform: uppercase;
}

.more a:before {
    font-family: 'icomoon'!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e907";
    color: #0c7ebb;
    position: absolute;
    top: .125rem;
    right: 0;
    font-size: .625rem;
}
.event-img {
    height: 300px;
}